.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* item box */
.element {
  background: green;
  width: 96px;
  height: 100px;
  line-height: 104px;
  display: inline-block;
  margin: 5px;
  border-radius: 1px;
  box-sizing: border-box;
}

/* selected item box */
.element.selected {
  background: red;
  color: white;
}

/* selected temp item box */
.element.temp-selected {
  background: gray;
  color: white;
}

/* selection container */
.grid {
  position: relative;
  width: 530px;
  margin: 0 auto;
}

/* selection box */
.selection-border {
  position: absolute;
  z-index: 99;
}
@media screen and (max-width: 600px) {
  .grid {
    width: 95vw;
  }
  .element {
    touch-action: none;
    width: 17vw;
    height: 17vw;
    line-height: 17vw;
    margin: 1vw;
  }
}
